<h2>Resend confirmation instructions</h2>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.govuk_email_field :email,
                                autofocus: true,
                                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                                width: 'one-half',
                                label: nil %>
      </div>

      <div class="actions">
        <%= f.govuk_submit "Resend confirmation instructions" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
