<h2>Sign up</h2>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.govuk_email_field :email, autofocus: true, width: 'one-half', label: nil %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.govuk_password_field :password, autocomplete: "off", width: 'one-half', label: nil %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.govuk_password_field :password_confirmation, autocomplete: "off", width: 'one-half', label: nil %>
      </div>

      <div class="actions">
        <%= f.govuk_submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>

