<h2 class="heading-large">Resend unlock instructions</h2>
<p class="lede">Bacon ipsum dolor amet salami ribeye short ribs, fatback jowl kevin beef andouille. Andouille porchetta spare ribs boudin. Strip steak tri-tip ball tip, kevin ham hock boudin venison alcatra. Biltong cupim andouille prosciutto t-bone venison pig kielbasa jowl turducken ham filet mignon turkey doner flank.</p>
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Resend unlock instructions", class: 'button' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
