<% content_for :page_title, make_page_title("Change password") %>
<% migrate_devise_errors_for resource %>
<%= pafs_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_header("Check your sign in details", "") %>
  <h1 class="heading-large">Change password</h1>
  <%= f.form_group(:base) do %>
    <%= f.error_message(:base) %>
    <%= f.hidden_field :reset_password_token %>

    <%
      opts = { label: "New password",
               class: "form-control",
               autofocus: true,
               autocomplete: "off" }
      if @minimum_password_length
        opts[:hint] = "Should be a minimum of #{@minimum_password_length} characters in length."
      end
    %>
    <%= f.password_field :password, opts %>
    <%= f.password_field :password_confirmation, class: "form-control",
          autocomplete: "off", label: "Confirm new password" %>
  <% end %>
  <div class="form-group">
    <%= f.submit "Change password", class: "button" %>
  </div>
<% end %>
