<% content_for :title, "Password reset" %>

<% migrate_devise_errors_for resource %>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">

    <%= pafs_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <h1 class="govuk-heading-l">Reset your password</h1>
      <div class="form-group">
        <%= form_group(f.object, :base, :base) do %>
          <%= error_message(f.object, :base, :base) %>
          <%= f.govuk_email_field :email, autofocus: true, autocomplete: "off", width: 'one-half', label: { text: t("Email address") } %>
        <% end %>

        <p>
        <div class="form-group">
          <%= f.govuk_submit "Continue" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
