<h1 class="heading-large">Reset your password</h1>
<p class="lede">To reset your password, enter the email address you use to sign in to the FCERM project funding service.</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: 'form-label-bold' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "off", class: 'form-control' %>
  </div>

  <%= render "shared/forgotten_email" %>

  <div class="form-group">
    <%= f.submit "Reset password", class: 'button' %>
  </div>
<% end %>
