<div class="user-bar govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">
    <ul class="user-menu govuk-!-font-size-16">
      <li>Signed in as: <%= current_user.full_name %></li>
      <li><%= link_to t("dashboard_link"), pafs_core.projects_path %></li>
      <% if rma_user? || pso_user?  %>
        <li><%= link_to(t("download_link"), pafs_core.multi_downloads_path) %></li>
      <% end %>
      <li><%= link_to(t("archive_dashboard_link"), pafs_core.archives_path) %></li>
      <li><%= link_to(t('logout_link'), main_app.destroy_user_session_path) %></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  </div>
</div>
