<% content_for :page_title, make_page_title("Sign in") %>
<%
  if flash[:alert].present?
    resource.errors.add(:base, flash[:alert])
  end
%>
<%= pafs_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.error_header("Check your sign in details", "") %>
  <h1 class="heading-large">Sign in</h2>
  <%= f.form_group(:base) do %>
    <%= f.error_message(:base) %>
    <%= f.email_field :email, autocomplete: "off", autofocus: true, tabindex: 10, class: 'form-control' %>
    <%= f.password_field :password, autocomplete: "off", tabindex: 20,  class: 'form-control' %>
  <% end %>

  <div class="form-group">
    <%= f.submit "Sign in", class: 'button' %>
  </div>

  <p><%= link_to t("reset_your_password_link"), new_password_path(resource_name) %></p>
  <p><%= link_to t("request_an_account_link"), pafs_core.new_account_request_path %></p>

<% end %>
