<h2 class="heading-large">FCERM project funding: sign in or register</h2>
<p class="lede">Sign in to your FCERM project funding account to review, update or submit your project funding proposals.</p>
<p>Use the email address and password confirmed to you when the Environment Agency set up your account for this service.</p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: 'form-label-bold' %>
    <%= f.email_field :email, autocomplete: "off", autofocus: true, tabindex: 10, class: 'form-control' %>
  </div>
  <div class="form-group">
    <details>
      <summary>I have forgotten which email address to use</summary>
      <div class="panel-indent">
        <p>If you don't know the email address used to set up your account, contact the Environment Agency on <%= t("support_telephone_number") %>.</p>
      </div>
    </details>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'form-label-bold' %>
    <%= f.password_field :password, autocomplete: "off", tabindex: 20,  class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.label :remember_me, class: 'form-checkbox' do -%>
        <%= f.check_box :remember_me %> Remember me
      <% end -%>
    </div>
  <% end -%>

  <div class="option-group">

    <%= render "devise/shared/links" %>

    <details>
      <summary>I don't have an account</summary>
      <div class="panel-indent">
        <p>If you don't have an account, you can <%= link_to t("request_an_account_link"), pafs_core.new_account_request_path %> if you work for:</p>
        <ul class="list-bullet">
          <li>a risk management authority</li>
          <li>a partnership and strategic overview team</li>
          <li>an area programming team</li>
        </ul>
        <p>The Environment Agency needs to approve your request to use this service. This normally takes up to 5 working days.</p>
      </div>
    </details>
  </div>
  <div class="form-group">
    <%= f.submit "Sign in", class: 'button' %>
  </div>
<% end %>
