<% content_for :page_title, make_page_title("Set a password") %>
<% migrate_devise_errors_for(resource) %>
<%= pafs_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= f.error_header "Check your details", "The following error(s) prevented your password being set:" %>
  <%#= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <h1 class="heading-large"><%= t 'devise.invitations.edit.header' %></h1>
  <%= f.form_group(:base) do %>
    <%= f.error_message(:base) %>
    <%= f.password_field :password, autocomplete: "off", autofocus: true, class: "form-control" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  <% end %>

  <div class="form-group">
    <%= f.submit t("devise.invitations.edit.submit_button"), class: 'button' %>
  </div>
<% end %>
