<% content_for :title, "Set a password" %>
<% migrate_devise_errors_for(resource) %>
<%= pafs_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%#= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <h1 class="heading-large"><%= t 'devise.invitations.edit.header' %></h1>
  <div class="form-hint password-instructions">Your password must contain a minimum of:
    <ul class="list-bullet">
      <li>8 characters</li>
      <li>1 capital letter</li>
      <li>1 lower-case letter</li>
      <li>1 numeric character</li>
    </ul>
  </div>
  <%= form_group(f, :base) do %>
    <%= error_message(f.object, :base) %>
    <%= f.govuk_password_field :password,
                               autofocus: true,
                               class: "form-control",
                               autocomplete: "off",
                               label: { text: "Password" } %>
    <%= f.govuk_password_field :password_confirmation,
                               class: "form-control",
                               autocomplete: "off",
                               label:{ text: "Confirm password" } %>
  <% end %>

  <div class="form-group">
    <%= f.submit t("devise.invitations.edit.submit_button"), class: 'button' %>
  </div>
<% end %>
