<h2><%= t "devise.invitations.new.header" %></h2>

<div class="govuk_grid_row govuk-body">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
      <%= devise_error_messages! %>

      <% resource.class.invite_key_fields.each do |field| -%>
        <%= f.govuk_email_field field, label: { text: field }, width: 'one-half' %>
      <% end -%>

      <p><%= f.govuk_submit t("devise.invitations.new.submit_button") %></p>
    <% end %>

  </div>
</div>
