<% content_for(:head) do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application", media: "all" %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><![endif]-->
  <meta name="format-detection" content="telephone=no" />
<% end %>

<% content_for :page_title, title %>

<% content_for :cookies_banner do %>
  <%= render partial: "cookies/banner" %>
<% end %>

<% content_for :header_content do %>
  <% content_tag(:span, class: "govuk-header__link--service-name") { t(:global_proposition_header) } %>
<% end %>

<% content_for :phase_banner do %>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        <%= t(".beta")  %>
      </strong>
      <span class="govuk-phase-banner__text">
        <%= t(
              ".feedback",
              link: link_to(
                t(".feedback_link"),
                t(".feedback_url"),
                class: "govuk-link",
                target: "_blank"
              )
            ).html_safe
        %>
      </span>
    </p>
  </div>
  <% if not_policy_page?(request.path) && user_signed_in?%>
    <%= render "shared/user_bar" %>
  <% end %>
  <%= render "shared/return_to_overview" if show_return_to_overview? %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag "application" %>
<% end %>

<% content_for :footer do %>
  <span class="govuk-visually-hidden"><%= t("global.footer_support_text") %></span>
  <p class="govuk-!-font-weight-bold">
    <%= t("global.footer_support_text") %>
    <%= link_to t("global.helpline_telephone_number"), "tel:#{t("global.helpline_telephone_number").delete(" ") }" %>
  </p>
  <ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
      <%= link_to "Privacy", main_app.page_path('privacy_notice'), class: "govuk-footer__link" %>
    </li>
    <li class="govuk-footer__inline-list-item">
      <%= link_to "Cookies", Rails.application.routes.url_helpers.cookies_path, class: "govuk-footer__link" %>
    </li>
    <li class="govuk-footer__inline-list-item">
      <%= link_to "Accessibility", "/pages/accessibility", class: "govuk-footer__link" %>
    </li>
  </ul>
<% end %>

<% content_for :footer_support_links do %>
  <div class="ea-footer">
    <p><%= t('global.footer_support_text') %> <%= link_to t("global.helpline_telephone_number"), "tel:#{t("global.helpline_telephone_number").delete(" ") }" %></p>

    <ul class="inline-list">
      <li class="inline"><%= link_to 'Privacy', main_app.page_path('privacy_notice'), target: '_blank' %></li>
      <li class="inline"><%= link_to 'Cookies', Rails.application.routes.url_helpers.cookies_path,  target: '_blank' %></li>
      <li class="inline"><%= link_to 'Accessibility', "/pages/accessibility",  target: '_blank' %></li>
    </li>

    </ul>
  </div>
<% end %>

<%= render template: "layouts/defra_ruby_template" %>
