<% content_for(:head) do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application", media: "all" %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><![endif]-->
  <meta name="format-detection" content="telephone=no" />
<% end %>
<% unless content_for? :page_title %>
  <% if @project.try(:step) %>
    <% content_for :page_title, make_page_title(t(@project.step, scope: "page_titles")) %>
  <% else %>
    <% content_for :page_title, make_page_title(t(:global_proposition_header)) %>
  <% end %>
<% end %>

<% content_for :body_start do %><%= render "shared/cookie_message" %><% end %>
<% content_for :cookie_message do %><% end %>

<% content_for :header_class, 'with-proposition' %>
<% content_for :proposition_header do %>
  <div class="header-proposition">
    <div class="content">
      <span id="proposition-name"><%= t(:global_proposition_header) %></span>
    </div>
  </div>
<% end %>

<% content_for(:content) do %>
  <main id="content" role="main">
    <%= render "shared/phase_banner" %>
    <% unless request.path == "/cookies" || request.path == "/pages/pafs_privacy_policy"%>
      <%= render "shared/user_bar" if user_signed_in? %>
    <% end %>
    <%= render "shared/return_to_overview" if show_return_to_overview? %>
    <%= yield %>
  </main>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag "application" %>
<% end %>

<% content_for :footer_support_links do %>
  <div class="ea-footer">
    <p><%= t('global.footer_support_text') %> <%= link_to t("global.helpline_telephone_number"), "tel:#{t("global.helpline_telephone_number").delete(" ") }" %></p>

    <ul class="inline-list">
      <li class="inline"><%= link_to 'Privacy', main_app.page_path('pafs_privacy_policy'), target: '_blank' %></li>
      <li class="inline"><%= link_to 'Cookies', cookies_path,  target: '_blank' %></li>
    </ul>
    <% if user_signed_in? && ENV["ENABLE_USER_AREAS"] %>
      <div aria-hidden="true">Primary Area: <%= link_to "#{current_user.primary_area.name} (#{current_user.primary_area.area_type})", pafs_core.area_path(current_user.primary_area) %></div>
    <% end %>
  </div>
<% end %>

<%-# LAST: RENDER main GDS template -%>
<%= render template: "layouts/govuk_template" %>
