<% content_for :page_title, make_page_title("Account request") %>
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t(".heading") %></h1>
    <p><%= t(".description") %></p>
    <%= pafs_form_for @account_request do |f| %>
      <%= f.error_header %>
      <div class="form-group">
        <%= f.text_field :first_name, class: "form-control form-wide" %>
        <%= f.text_field :last_name, class: "form-control form-wide" %>
        <%= f.text_field :email, class: "form-control form-wide" %>
        <%= f.telephone_field :telephone_number, class: "form-control form-wide" %>
        <%= f.text_field :organisation, class: "form-control form-wide" %>
        <%= f.text_field :job_title, class: "form-control form-wide" %>
      </div>
      <%= f.submit t(".submit_label"), class: 'button' %>
    <% end %>
  </div>
</div>
