<% content_for :page_title, make_page_title("Account request confirmation") %>
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="confirmation-box">
      <h1><%= t(".heading") %></h1>
      <p><%= t(".email_sent_to") %><br/>
        <strong class="heading-medium"><%= @account_request.email %></strong>
      </p>
    </div>
    <h2 class="heading-medium">What happens next</h2>
    <p>We will now verify this request. If successful we will contact you by email when the account has been created. This will take up to 5 working days.</p>
    <p>If you haven't heard from us within 5 working days contact us at
      <%= link_to t("global.support_email"), "mailto:#{t("global.support_email").delete(" ") }" %>
      </p>

    <%= link_to t("global.return_to_start"), main_app.root_path, class: "button", role: "button" %>
  </div>
</div>
